<!DOCTYPE html>
<html lang="en">
<head th:insert="~{index :: head}"></head>

<body id="scroll-top">
<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->

<header th:insert="~{index :: header}"></header>
<!-- header End here -->

  <!-- Page Header Start here -->
  <section class="page-header section-notch">
    <div class="overlay">
      <div class="container">
        <h3>Обо мне</h3>
        <ul>
          <li><a th:href="@{/}">На главную</a></li>
          <li>-</li>
          <li>-</li>
        </ul>
      </div><!-- container -->
    </div><!-- overlay -->
  </section><!-- page header -->
  <!-- Page Header End here -->


  <!-- teacher-details start here -->
  <section class="teacher-details padding-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="teacher-image">
            <img src="/images/teachers/teacher-details.jpg" alt="teacher image" class="img-responsive">
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="teacher-content">
            <h4>Елена Анохина</h4>
            <hr>
            <h4>Образование</h4>
            <p>Образование - философский фак-т, МГУ (2004г.о.),
              педагог философских дисциплин, доп.образование сказкотерапевт (пишу полезные сказки), игротерапевт.
            </p>
            <h4>Процесс игры</h4>
            <p>Дети, вместе с сопровождающей знакомятся, придумывают себе роль, обсуждают действия,
              продумывают сюжет, делают костюмы, декорации. На площадке каждый решает сам, кем он будет и что он будет делать.</p>
          </div>
        </div>
      </div><!-- row -->
    </div>
    <!-- container -->
  </section><!-- teacher-details -->
  <!-- teacher-details end here -->
<section class="gallery padding-120">
  <div class="container">
    <div class="section-header">
      <h3>Сертификаты</h3>
      <p></p>
    </div>
    <div class="gallery-items">
      <div class="gallery-item diploms">
        <div class="gallery-image">
          <img src="/images/gallery/certificate_bah_01.jpg" alt="gallery image" class="img-responsive">
          <div class="gallery-overlay">
            <div class="bg"></div>
          </div>
          <div class="gallery-content">
            <a href="/images/gallery/certificat_bah_bg_01.jpg" data-rel="lightcase:myCollection"><i
                    class="icon flaticon-expand"></i></a>
            <h4>Сертификат Бахотского</h4>
            <span>20 марта 2022</span>
          </div>
        </div>
      </div><!-- gallery item -->
      <div class="gallery-item diploms">
        <div class="gallery-image">
          <img src="/images/gallery/certificate_tales_01.jpg" alt="gallery image" class="img-responsive">
          <div class="gallery-overlay">
            <div class="bg"></div>
          </div>
          <div class="gallery-content">
            <a href="/images/gallery/Certificat_Tales.jpg" data-rel="lightcase:myCollection"><i
                    class="icon flaticon-expand"></i></a>
            <h4>Диплом Сказкотерапевта</h4>
            <span>11 марта 2022</span>
          </div>
        </div>
      </div><!-- gallery item -->
    </div><!-- gallery items -->




  </div><!-- container -->
</section><!-- gallery -->

  <!-- Subscribe Start here -->
<section class="subscribe" th:insert="~{index :: subscribe}"></section>
  <!-- Subscribe End here -->

  <!-- Footer Start here -->
<footer th:insert="~{index :: footer}"></footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  <!-- Footer End here -->

  <!-- jquery -->
<section th:insert="~{index :: js}"></section>

</body>

</html>