<!DOCTYPE html>
<html lang="en">
<head th:insert="~{index :: head}"></head>

<body id="scroll-top">
<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->

<header th:insert="~{index :: header}"></header>
<!-- header End here -->

  <!-- Page Header Start here -->
  <section class="page-header section-notch">
    <div class="overlay">
      <div class="container">
        <h3>Обо мне</h3>
        <ul>
          <li><a th:href="@{/}">На главную</a></li>
          <li>-</li>
          <li>-</li>
        </ul>
      </div><!-- container -->
    </div><!-- overlay -->
  </section><!-- page header -->
  <!-- Page Header End here -->


  <!-- teacher-details start here -->
  <section class="teacher-details padding-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="teacher-image">
            <img src="/images/teachers/teacher-details.jpg" alt="teacher image" class="img-responsive">
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="teacher-content">
            <h4>Елена Анохина</h4>
            <hr>
            <h4>Образование</h4>
            <p>Образование - философский фак-т, МГУ (2004г.о.),
              педагог философских дисциплин, доп.образование сказкотерапевт (пишу полезные сказки), игротерапевт.
            </p>
            <h4>Процесс игры</h4>
            <p>Дети, вместе с сопровождающей знакомятся, придумывают себе роль, обсуждают действия,
              продумывают сюжет, делают костюмы, декорации. На площадке каждый решает сам, кем он будет и что он будет делать.</p>
            <!--ul class="social-default">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
            <ul class="teacher-address">
              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>Москва.</li>
              <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>+8801 923 970 212</li>
              <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>Contact@LabArtisan.com</li>
              <li><span><i class="fa fa-globe" aria-hidden="true"></i></span>www.LabArtisan.com</li>
            </ul-->
          </div>
        </div>
      </div><!-- row -->
      <div class="teacher-statement">
        <h4></h4>

      </div>
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="teacher-skills">
            <h4>Навыки:</h4>

            <div class="skill-item">
              <div class="fourth circle">
                <strong></strong>
              </div>
              <p>Игра по Бахотскому</p>
            </div><!-- skill-item -->
            <div class="skill-item">
              <div class="fourth circle">
                <strong></strong>
              </div>
              <p>Сказкотерапия</p>
            </div><!-- skill-item -->
            <div class="skill-item">
              <div class="third circle">
                <strong></strong>
              </div>
              <p>Подготовка к школе</p>
            </div><!-- skill-item -->

          </div><!-- teacher-skills -->
        </div>
        <div class="col-lg-6 col-xs-12">
          <!-- teacher-award -->
          <!--div class="teacher-award">

            <h4>Дипломы</h4>
            <ul>
              <li>
                <img src="/images/teachers/award_01.png" alt="award image" class="img-responsive">
                <span>МГУ 2000</span>
              </li>
              <li>
                <img src="/images/teachers/award_02.png" alt="award image" class="img-responsive">
                <span>Игра по Бахотскому 2021</span>
              </li>
              <li>
                <img src="/images/teachers/award_03.png" alt="award image" class="img-responsive">
                <span>Сказкотерапия 2022</span>
              </li>
              <li>
                <img src="/images/teachers/award_04.png" alt="award image" class="img-responsive">
                <span>Подготовка к школе</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div-->
    <!-- container -->
  </section><!-- teacher-details -->
  <!-- teacher-details end here -->


  <!-- Subscribe Start here -->
<section class="subscribe" th:insert="~{index :: subscribe}"></section>
  <!-- Subscribe End here -->

  <!-- Footer Start here -->
<footer th:insert="~{index :: footer}"></footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  <!-- Footer End here -->

  <!-- jquery -->
<section th:insert="~{index :: js}"></section>

</body>

</html>