<!DOCTYPE html>
<html lang="en">

<head th:insert="~{index :: head}"></head>

<body id="scroll-top">
<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->

<header th:insert="~{index :: header}"></header>
<!-- header End here -->


<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Панель администратора</h3>
            <ul>
                <li><a th:href="@{/}">На главную</a></li>
                <li>-</li>
                <li>-</li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h3>LOGIN:<span sec:authentication="name"> </span></h3>
            <div class="logoutButton">
                <a th:href="@{/logout}" class="button-default post-button">Выйти:</a>
            </div>

        </div><!-- container -->
        <div sec:authorize="isAuthenticated()">
            <h3>Редактировать/ добавить мероприятие  или отчет о мероприятии</h3>
            <div class="button-default">
                <a th:href="@{/events}" class="button-default post-button">К мероприятиям:</a>
            </div>

        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->


<!-- Blog Post Start here -->
<section class="blog-post padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-post">
                    <div class="post-content">
                        <p>В разделе "СКАЗКИ" доступен фунекционал добавления и редактирования сказок.</p>
                    </div>


                </div><!-- single post -->
            </div>


            <!-- Footer Start here -->
            <footer th:insert="~{index :: footer}"></footer>
            <a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
            <!-- Footer End here -->


            <!-- jquery -->
            <section th:insert="~{index :: js}"></section>


</body>

</html>