<!DOCTYPE html>
<html lang="en">

<head th:insert="~{index :: head}"></head>

<body id="scroll-top">

<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->
<!-- header start here -->

<header th:insert="~{index :: header}"></header>
<!-- header End here -->


<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Контактная информация</h3>
            <ul>
                <li><a th:href="@{/}">На главную</a></li>
                <li>-</li>
                <li>Свяжитесь со мной</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->


<!-- Contact Start here -->
<section class="contact contact-page">
    <div class="contact-details padding-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <ul>
                        <li class="contact-item">
                            <span class="icon flaticon-signs"></span>
                            <div class="content">
                                <h4>Месторасположение</h4>
                                <p>Москва <br> Ясенево</p>
                            </div>
                        </li>
                        <li class="contact-item">
                            <span class="icon flaticon-smartphone"></span>
                            <div class="content">
                                <h4>Телефон: </h4>
                                <p>+7 917 513-28-57</p>
                            </div>
                        </li>
                        <li class="contact-item">
                            <span class="icon flaticon-message"></span>
                            <div class="content">
                                <h4>Email Address</h4>
                                <p>skazochnitsalena@gmail.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <!--TODO Сделать форму обратной связи на странице Контакты -->
                    <!--form class="contact-form">
                      <input type="text" name="name" placeholder="Ваше имя" class="contact-input">
                      <input type="email" name="email" placeholder="e-mail" class="contact-input">
                      <textarea rows="5" class="contact-input">Ваше сообщение</textarea>
                      <input type="submit" name="submit" value="Отправить сообщение" class="contact-button">
                    </form-->
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- contact-details -->
    <div class="contact-map" id="map-canvas"></div>
</section>
<!-- Contact End here -->


<!-- Subscribe Start here -->
<section class="subscribe" th:insert="~{index :: subscribe}"></section>
<!-- Subscribe End here -->

<!-- Footer Start here -->
<footer th:insert="~{index :: footer}"></footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<!-- Footer End here -->

<!-- jquery -->
<section th:insert="~{index :: js}"></section>

<!-- Google Map -->
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg"></script>

<script type="text/javascript">
    //Home Page map
    var styleArray = [
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#65ac4c"
                }
            ]
        }
    ];

    var mapOptions = {
        center: new google.maps.LatLng(55.602793, 37.545082),
        zoom: 15,
        styles: styleArray,
        scrollwheel: false,
        backgroundColor: 'transparent',
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
    var myLatlng = new google.maps.LatLng(55.602793, 37.545082);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: 'images/map-icon.png'
    });
</script>

</body>
</html>