<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Это файл фрагментов для различных страниц</title>
</head>
<body>

<!-- Testimonial Start here -->
<section th:fragment="testimonial" class="testimonial padding-120">
    <div class="container">
        <div class="section-header">
            <h3>Что говорят родители</h3>
            <p>Отзывы родителей.</p>
        </div>
        <div class="testimonial-items">
            <div class="testimonial-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <div class="testimonial-details">
                            <p>Профессиональная, превосходная игра.</p>
                            <h4>Петр Петрович <span>Страховщик</span></h4>
                            <img src="/images/testimonial/testimonial_icon_01.jpg" alt="testimonial icon"
                                 class="img-responsive">
                        </div>
                        <div class="testimonial-image">
                            <img src="/images/testimonial/testimonial_01.jpg" alt="client image"
                                 class="img-responsive">
                        </div>
                    </div><!-- testimonial-item -->
                    <div class="testimonial-item swiper-slide">
                        <div class="testimonial-details">
                            <p>Весело, интересно, увлекательно для детей, прийду еще.</p>
                            <h4>Борис Михайлович <span>Художник</span></h4>
                            <img src="/images/testimonial/testimonial_icon_02.jpg" alt="testimonial icon"
                                 class="img-responsive">
                        </div>
                        <div class="testimonial-image">
                            <img src="/images/testimonial/testimonial_02.jpg" alt="client image"
                                 class="img-responsive">
                        </div>
                    </div><!-- testimonial-item -->
                    <div class="testimonial-item swiper-slide">
                        <div class="testimonial-details">
                            <p>Прекрасно отдохнула пока дети играли, спасибо</p>
                            <h4>Вероника Степановна <span>Домохозяйка</span></h4>
                            <img src="/images/testimonial/testimonial_icon_03.jpg" alt="testimonial icon"
                                 class="img-responsive">
                        </div>
                        <div class="testimonial-image">
                            <img src="/images/testimonial/testimonial_03.jpg" alt="client image"
                                 class="img-responsive">
                        </div>
                    </div><!-- testimonial-item -->
                    <div class="testimonial-item swiper-slide">
                        <div class="testimonial-details">
                            <p>Очень хорошо, превосходит ожидания, отличная работа</p>
                            <h4>Степан Брахман <span>Водитель</span></h4>
                            <img src="/images/testimonial/testimonial_icon_01.jpg" alt="testimonial icon"
                                 class="img-responsive">
                        </div>
                        <div class="testimonial-image">
                            <img src="/images/testimonial/testimonial_01.jpg" alt="client image"
                                 class="img-responsive">
                        </div>
                    </div><!-- testimonial-item -->
                    <div class="testimonial-item swiper-slide">
                        <div class="testimonial-details">
                            <p>Позитивные эмоции и хорошее настроение для детей, прекрасно.</p>
                            <h4>Василий <span>Сопровождение бизнеса</span></h4>
                            <img src="/images/testimonial/testimonial_icon_02.jpg" alt="testimonial icon"
                                 class="img-responsive">
                        </div>
                        <div class="testimonial-image">
                            <img src="/images/testimonial/testimonial_02.jpg" alt="client image"
                                 class="img-responsive">
                        </div>
                    </div><

                </div><!-- swiper-wrapper -->
            </div><!-- swiper-container -->
        </div><!-- testimonial-items -->
    </div><!-- container -->
</section><!-- testimonial -->
<!-- Testimonial End here -->

</body>
</html>