<!DOCTYPE html>
<html lang="en">

<head th:insert="~{index :: head}"></head>

<body id="scroll-top">
  <!-- mobile menu start here -->
  <div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
  <!-- mobile menu ending here -->

  <header th:insert="~{index :: header}"></header>
  <!-- header End here -->


  <!-- Page Header Start here -->
  <section class="page-header section-notch">
    <div class="overlay">
      <div class="container">
        <h3>Сказка</h3>
        <ul>
          <li><a th:href="@{/}">На главную</a></li>
          <li>-</li>
          <li>-</li>
        </ul>
      </div><!-- container -->
    </div><!-- overlay -->
  </section><!-- page header -->
  <!-- Page Header End here -->


  <!-- Blog Post Start here -->
  <section class="blog-post padding-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="single-post">
            <div class="post-image">
              <img src="images/blog/post_01.jpg" alt="post image" class="img-responsive">
            </div>
            <div class="post-content">
              <h3>Как Счастливчик нашел свое счастье.</h3>
              <!--ul class="post-meta">
                <li><span class="icon flaticon-people-1"></span> <a href="#">Robot Smith</a></li>
                <li><span class="icon flaticon-like"></span> <a href="#">128 Likes</a></li>
                <li><span class="icon flaticon-chat"></span> <a href="#">32 Comments</a></li>
              </ul-->
              <p>Жил-был на свете один очень грустный человек, которого звали, не поверите, Счастливчиком.
                Все у него не ладилось, всем он был не доволен, ворчал и что-то частенько бормотал себе под нос.
                И, как это ни грустно, никто с ним не дружил. «Конечно, кто будет дружить с таким недотепой, как я, бу-бу-бу», – вздыхал Счастливчик.
                </p>
                <p>Однажды на городок, где жил Счастливчик, налетел ураган. Он сметал все на своем пути, дома, улицы, но не трогал людей,
                  а будто прогонял их из городка, разгонял их в разные стороны и Счастливчика тоже. «Ну вот, что я теперь буду делать без дома?
                  Мог бы и меня смести, чертов ураган», - загрустил Счастливчик. Делать нечего, надо отправляться в путь, искать новый дом и
                  продолжать как-то жить.
                  </p>
              <p>
                Двинулся Счастливчик в дорогу. Идет он через поле: «эх, совсем поле все разворотил чертов ураган, не оставил ничего живого»,
                - и не успел закончить свое ворчание, как заметил   два нетронутых колоска пшеницы. Собрал зерна с одного колоска,
                а со второго отдал зернышки подлетевшему изможденному воробью. «Какое счастье! Спасибо тебе, добрый человек,
                что оставил зернышки для меня. Теперь я смогу накормить ими своих птенцов», - сказал это воробей и улетел.
                «Вот чудак, назвал зерна счастьем», - пробурчал Счастливчик и отправился дальше.
                </p>
              <p>
                Идет он мимо луга: «чертов ураган не оставил ни единого живого цветка». Но не успев договорить, заметил в траве
                два цветка сладкого клевера. Один цветок он аккуратно выкопал руками из земли, не повредив корней, а второй цветок
                оставил пчелке, которая устало опустилась на него: «Спасибо тебе, добрый человек, что не тронул цветок.
                Теперь я смогу отнести его нектар своим деткам». «Вот чудная пчелка, назвала цветок счастьем», - и побрел себе дальше.
                </p>
                <p>Весь день и весь вечер шел Счастливчик. Ближе к ночи он добрался до неизвестного города. В городе было темно, очень тихо
                  и пустынно. Но Счастливчик так устал с дороги, что присел на крылечко одного из домов и моментально уснул,
                  не задумываясь, почему этот город пустой. Утром он открыл глаза, а вокруг ни души, только серые дома стоят одиноко:
                  «да, городишко под стать мне, такой же серый и угрюмый, как я». Вдруг он услышал какой-то шорох за спиной, повернул голову,
                  а из-за угла на него смотрел улыбающийся мальчишка, который светился от радости: «Какое счастье, в город снова возвращаются люди!»
                  И он рассказал Счастливчику, что все жители убежали из города, т.к. бушевал ураган, который не тронул ни единого дома,
                  но выгнал всех людей, и только ему удалось спастись и остаться здесь. А Счастливчик поведал ему свою историю тоже про ураган,
                  но который, наоборот, разрушил весь городок, в котором он жил. Счастливчик показал мальчику зерна и цветок,
                  которые нашел на своем пути. Вместе они решили посадить зерна пшеницы на заброшенном поле, а на одинокой поляне посадить цветок клевера.
                  Вскоре в опустевший город стали возвращаться люди, начали убирать и обживать дома. Сюда вернулась жизнь.
                  Счастливчик любовался золотым полем поспевшей пшеницы и прекрасным густым лугом со множеством цветов.
                  Он думал: «Какое счастье, что случился ураган, и я узнал, что действительно родился счастливчиком, который умеет дарить жизнь
                  и приносить другим счастье».</p>
            </div>
            <!--div class="content-bottom">
              <ul class="post-tags">
                <li><span class="flaticon-tags-outline"></span> Tags :</li>
                <li><a href="#">Corporate</a> -</li>
                <li><a href="#">KidsAcademy</a> -</li>
                <li><a href="#">Agency</a> -</li>
                <li><a href="#">Business</a></li>
              </ul>
              <ul class="post-share">
                <li><span class="flaticon-share"></span> Поделиться:</li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div--><!-- content-bottom -->
            <!--div class="post-comments">
              <h3>03 Comments</h3>

              <ul>
                <li>
                  <div class="the-comment">
                    <div class="comment-image">
                      <img src="images/blog/user_01.jpg" alt="user image" class="img-responsive">
                    </div>
                    <div class="comment-content">
                      <h4>Robot Smith</h4>
                      <span class="day"> 02 days ago at 10:30pm </span>
                      <span class="comm-reply"><i class="flaticon-back"></i> <a href="#">Reply</a></span>
                      <p>Professionally optimize intermandated data rather than and oriented and band width Seamlesly
                        and the extend distinctive awesome charity web services eamlesly and the extend distinctive
                        awesome charity web services.</p>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <div class="the-comment">
                        <div class="comment-image">
                          <img src="images/blog/user_02.jpg" alt="user image" class="img-responsive">
                        </div>
                        <div class="comment-content">
                          <h4>Janaton Smith</h4>
                          <span class="day"> 02 days ago at 10:30pm </span>
                          <span class="comm-reply"><i class="flaticon-back"></i> <a href="#">Reply</a></span>
                          <p>Professionally optimize intermandated data rather than and oriented and band width
                            Seamlesly and the extend distinctive awesome charity web and services eamlesly and the
                            extend distinctive.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="the-comment">
                    <div class="comment-image">
                      <img src="images/blog/user_03.jpg" alt="user image" class="img-responsive">
                    </div>
                    <div class="comment-content">
                      <h4>Jhonson Smith</h4>
                      <span class="day"> 02 days ago at 10:30pm </span>
                      <span class="comm-reply"><i class="flaticon-back"></i> <a href="#">Reply</a></span>
                      <p>Professionally optimize intermandated data rather than and oriented and band width Seamlesly
                        and the extend distinctive awesome charity web services eamlesly and the extend distinctive
                        awesome charity web services.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div--><!-- post-comments -->
            <div class="reply-form">
              <h3>Leave A Reply</h3>

              <form>
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="name" placeholder="Name*" class="com-input">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="email" name="email" placeholder="Email*" class="com-input">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="website" placeholder="Website" class="com-input">
                  </div>
                </div>
                <textarea rows="6" class="com-input">Comments*</textarea>
                <button class="button-default">Submit Comment</button>
              </form>
            </div>
          </div><!-- single post -->
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <!--div class="sidebar-item">
              <form>
                <input type="text" name="text" placeholder="Search Your Catagorie...">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div--><!-- sidebar item -->
            <!--div class="sidebar-item">
              <h3 class="sidebar-title">All Categories</h3>

              <ul class="sidebar-categories">
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Brand Creation
                    <span>05</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Company Analysis
                    <span>27</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Corporate Identity
                    <span>07</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Funding <span>09</span></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Medical <span>08</span></a>
                </li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Strategy Planning
                    <span>25</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Uncategorized
                    <span>20</span></a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Video Production
                    <span>30</span></a></li>
              </ul>
            </div--><!-- sidebar item -->
            <div class="sidebar-item">
              <h3 class="sidebar-title">Последние сказки</h3>

              <ul class="sidebar-posts">
                <li>
                  <div class="image">
                    <a href="single.html"><img src="images/blog/latest_post_01.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <a href="single.html">Foulate revlunry and the mihare are a awesome the theme.</a>
                    <span>04 February 2021</span>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <a href="single.html"><img src="images/blog/latest_post_02.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <a href="single.html">Foulate revlunry and the mihare are a awesome the theme.</a>
                    <span>04 February 2021</span>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <a href="single.html"><img src="images/blog/latest_post_03.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <a href="single.html">Foulate revlunry and the mihare are a awesome the theme.</a>
                    <span>04 February 2021</span>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <a href="single.html"><img src="images/blog/latest_post_04.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <a href="single.html">Foulate revlunry and the mihare are a awesome the theme.</a>
                    <span>04 February 2021</span>
                  </div>
                </li>
              </ul><!-- sidebar-posts -->
            </div><!-- sidebar item -->
            <div class="sidebar-item">
              <h3 class="sidebar-title">Photos Gallery</h3>

              <ul class="sidebar-gallery">
                <li><a href="#"><img src="images/blog/gallery_01.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_02.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_03.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_04.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_05.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_06.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_07.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="images/blog/gallery_08.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
              </ul><!-- sidebar-gallery -->
            </div><!-- sidebar item -->
            <!--div class="sidebar-item">
              <h3 class="sidebar-title">Recent Twitters</h3>

              <ul class="sidebar-twitts">
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <ul>
                      <li><a href="#">Robot Smith</a></li>
                      <li><a href="#">@ bonndu05 ascenarios</a></li>
                    </ul>
                    <p>Uniquely morph turnkey technlogy an</p>
                    <a href="#">http://trimanco.com/5e7ee</a>
                  </div>
                </li>
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <ul>
                      <li><a href="#">Janaton Doe</a></li>
                      <li><a href="#">@ bonndu05 ascenarios</a></li>
                    </ul>
                    <p>Uniquely morph turnkey technlogy an</p>
                    <a href="#">http://trimanco.com/5e7ee</a>
                  </div>
                </li>
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <ul>
                      <li><a href="#">Smith Jhonson</a></li>
                      <li><a href="#">@ bonndu05 ascenarios</a></li>
                    </ul>
                    <p>Uniquely morph turnkey technlogy an</p>
                    <a href="#">http://trimanco.com/5e7ee</a>
                  </div>
                </li>
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <ul>
                      <li><a href="#">Jhonson Doe</a></li>
                      <li><a href="#">@ bonndu05 ascenarios</a></li>
                    </ul>
                    <p>Uniquely morph turnkey technlogy an</p>
                    <a href="#">http://trimanco.com/5e7ee</a>
                  </div>
                </li>
              </ul--><!-- sidebar-twitts -->
            <!--/div--><!-- sidebar item -->
            <!--div class="sidebar-item">
              <h3 class="sidebar-title">Latest Tags</h3>

              <ul class="sidebar-tags">
                <li><a href="#">Business</a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Agency</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Joomla</a></li>
                <li><a href="#">HTML5</a></li>
              </ul>
            </div--><!-- sidebar item -->
          <!--/div--><!-- sidebar -->
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Blog Post End here -->


  <!-- Subscribe Start here -->
  <section class="subscribe" th:insert="~{index :: subscribe}"></section>
   <!-- Subscribe End here -->


  <!-- Footer Start here -->
  <footer th:insert="~{index :: footer}"></footer>
  <a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  <!-- Footer End here -->


  <!-- jquery -->
  <section th:insert="~{index :: js}"></section>


</body>

</html>