<!DOCTYPE html>
<html lang="en">

<head th:insert="~{index :: head}"></head>
<body id="scroll-top">
<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->
<header th:insert="~{index :: header}"></header>
<!-- header End here -->

<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Сказка</h3>
            <ul>
                <li><a th:href="@{/}">На главную</a></li>
                <li>-</li>
                <li>-</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->

<!-- Blog Post Start here -->
<section class="blog-post padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-post">
                    <div class="post-image">
                        <img src="/images/blog/post_01.jpg" alt="post image" class="img-responsive">
                    </div>
                    <div class="post-content">
                        <h3 th:text="${tale.title}">Наименование сказки</h3>
                        <pre th:text="${tale.body}">
                Текст сказки.
              </pre>
                        <tr></tr>
                        <date th:text="${tale.date}"></date>
                    </div>

                </div><!-- single post -->
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <!--TODO Добавить несколько последних сказок, выбранных из базы -->
                    <!--div class="sidebar-item">
                        <h3 class="sidebar-title">Последние сказки</h3>
                        <ul class="sidebar-posts">
                            <li>
                                <div class="image">
                                    <a href="single.html"><img src="/images/blog/latest_post_01.jpg" alt="post image"
                                                               class="img-responsive"></a>
                                </div>
                                <div class="content">
                                    <a href="single.html">Foulate revlunry and the mihare are a awesome the theme.</a>
                                    <span>04 February 2021</span>
                                </div>
                            </li>

                        </ul--><!-- sidebar-posts -->
                    <!--/div--><!-- sidebar item -->
                    <div class="sidebar-item">
                        <h3 class="sidebar-title">Photos Gallery</h3>

                        <ul class="sidebar-gallery">
                            <li><a href="#"><img src="/images/blog/gallery_01.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_02.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_03.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_04.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_05.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_06.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_07.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="/images/blog/gallery_08.jpg" alt="gallery image"
                                                 class="img-responsive"></a>
                            </li>
                        </ul><!-- sidebar-gallery -->
                    </div><!-- sidebar item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Post End here -->

<!-- Subscribe Start here -->
<section class="subscribe" th:insert="~{index :: subscribe}"></section>
<!-- Subscribe End here -->

<!-- Footer Start here -->
<footer th:insert="~{index :: footer}"></footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<!-- Footer End here -->

<!-- jquery -->
<section th:insert="~{index :: js}"></section>

</body>
</html>