<!DOCTYPE html>
<html lang="en">

<head th:insert="~{index :: head}"></head>


<body id="scroll-top">


<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->


<header th:insert="~{index :: header}"></header>
<!-- header End here -->


<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Мои сказки</h3>
            <ul>
                <li><a th:href="@{/}">На главную</a></li>
                <li>-</li>
                <li>Сказки</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->


<!-- Blog Post Start here -->
<section class="blog-post padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 post-item-pagination">
                <div class="post-items">
                    <div class="post-item">
                        <div class="post-image">
                            <a href="single.html"><img src="images/blog/post_01.jpg" alt="post image"
                                                       class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h3><a th:href="@{/tale}">Как Счастливчик нашел свое счастье.</a></h3>
                            <!--ul class="post-meta">
                              <li><span class="icon flaticon-people-1"></span> <a href="#">Robot Smith</a></li>
                              <li><span class="icon flaticon-like"></span> <a href="#">128 Likes</a></li>
                              <li><span class="icon flaticon-chat"></span> <a href="#">32 Comments</a></li>
                            </ul-->
                            <p>Жил-был на свете один очень грустный человек, которого звали, не поверите, Счастливчиком.
                                Все у него не ладилось, всем он был не доволен, ворчал и что-то частенько бормотал себе
                                под нос.
                                И, как это ни грустно, никто с ним не дружил. «Конечно, кто будет дружить с таким
                                недотепой, как я,
                                бу-бу-бу», – вздыхал Счастливчик.</p>
                            <a th:href="@{/tale}" class="button-default post-button">Читать дальше</a>
                        </div>
                    </div>
                    <!-- post item -->
                    <!--div class="post-item">
                      <div class="post-image">
                        <a href="single.html"><img src="images/blog/post_02.jpg" alt="post image" class="img-responsive"></a>
                      </div>
                      <div class="post-content">
                        <h3><a href="single.html">Asertivelly recaptiualize best rofesionally</a></h3>
                        <ul class="post-meta">
                          <li><span class="icon flaticon-people-1"></span> <a href="#">Robot Smith</a></li>
                          <li><span class="icon flaticon-like"></span> <a href="#">128 Likes</a></li>
                          <li><span class="icon flaticon-chat"></span> <a href="#">32 Comments</a></li>
                        </ul>
                        <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with
                          premium products sertively recaptiualize business benefits rofesionally timely data an with and
                          premium timely awesome premium products.</p>
                        <a href="single.html" class="button-default post-button">Read More</a>
                      </div>
                    </div--><!-- post item -->

                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <h3 class="sidebar-title">Последние сказки</h3>

                        <ul class="sidebar-posts">
                            <li>
                                <div class="image">
                                    <a href="single.html"><img src="images/blog/latest_post_01.jpg" alt="post image"
                                                               class="img-responsive"></a>
                                </div>
                                <div class="content">
                                    <a href="single.html">Как Счастливчик нашел свое счастье.</a>
                                    <span>05 Мая 2022</span>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="#"><img src="images/blog/latest_post_02.jpg" alt="post image"
                                                               class="img-responsive"></a>
                                </div>
                                <div class="content">
                                    <a href="#">Скоро появится.</a>
                                    <span>04 February 2021</span>
                                </div>
                            </li>
                        </ul><!-- sidebar-posts -->
                    </div><!-- sidebar item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Post End here -->


<!-- Subscribe Start here -->
<section class="subscribe" th:insert="~{index :: subscribe}"></section>
<!-- subscribe -->
<!-- Subscribe End here -->


<!-- Footer Start here -->
<footer th:insert="~{index :: footer}"></footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<!-- Footer End here -->


<!-- jquery -->
<section th:insert="~{index :: js}"></section>

</body>

</html>