<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body id="scroll-top">

<!-- mobile menu start here -->
<div th:insert="~{index :: mobile-menu-area}" class="mobile-menu-area"></div>
<!-- mobile menu ending here -->

<header th:insert="~{index :: header}"></header>
<!-- header End here -->

<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Мои сказки</h3>
            <ul>
                <li><a th:href="@{/}">На главную</a></li>
                <li>-</li>
                <li>Сказки</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->


<!-- Blog Post Start here -->
<section class="blog-post padding-120">
    <div class="container">
        <a sec:authorize="isAuthenticated()" th:href="@{/tale/new}" class="button-default post-button">Создать новую</a>
        <div class="row">
            <div class="col-lg-8 post-item-pagination">
                <div class="post-items" th:each="tale: ${tales.page}">
                    <div class="post-item">
                        <div class="post-image">
                            <a href="single.html"><img src="/images/blog/post_01.jpg" alt="post image"
                                                       class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h3 th:text="${tale.title}"><a th:href="@{/tale}">Название.</a>
                            </h3>
                            <p><span>Дата написания: </span><span th:text="${tale.date}"></span></p>

                            <p th:text="${tale.annonce}"> Анонс сказки</p>
                            <a th:href="@{/tale/{id}(id = ${tale.id})}" class="button-default post-button">Читать
                                дальше</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/tale/edit/{id}(id = ${tale.id})}"
                               class="button-default post-button">Редактировать</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/tale/delete/{id}(id = ${tale.id})}"
                               class="button-default post-button" onclick="deleteConfirm(event)">Удалить</a>
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <!--nav aria-label="Page navigation" class="paging"-->
                <ul class="pagination" th:if="${tales.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!tales.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/tales/?pageNumber=' + ${tales.paging.pageNumber - 1}}"
                           tabindex="-1">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <th:block th:each="item : ${tales.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == tales.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/tales/?pageNumber=' + ${item.index}}"
                               th:text="${item.index}">

                            </a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!tales.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/tales/?pageNumber=' + ${tales.paging.pageNumber + 1}}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <!--/nav-->

            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <!--div class="sidebar-item">
                        <h3 class="sidebar-title">Последние сказки</h3>

                        <ul class="sidebar-posts">
                            <li>
                                <div class="image">
                                    <a href="single.html"><img src="/images/blog/latest_post_01.jpg"
                                                               alt="post image"
                                                               class="img-responsive"></a>
                                </div>
                                <div class="content">
                                    <a href="single.html">Как Счастливчик нашел свое счастье.</a>
                                    <span>05 Мая 2022</span>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="#"><img src="/images/blog/latest_post_02.jpg" alt="post image"
                                                     class="img-responsive"></a>
                                </div>
                                <div class="content">
                                    <a href="#">Скоро появится.</a>
                                    <span>04 February 2021</span>
                                </div>
                            </li>
                        </ul--><!-- sidebar-posts -->
                    <!--/div--><!-- sidebar item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Post End here -->


<!-- Subscribe Start here -->
<section class="subscribe" th:insert="~{index :: subscribe}"></section>
<!-- subscribe -->
<!-- Subscribe End here -->


<!-- Footer Start here -->
<footer th:insert="~{index :: footer}"></footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<!-- Footer End here -->


<!-- jquery -->
<section th:insert="~{index :: js}"></section>
<script>
    function deleteConfirm(e) {
        if (confirm('Удалить?')) {
            return true;
        } else {
            e.preventDefault();
        }
    };
</script>

</body>

</html>